deeplake
llama-index
langchain
langchain_community
openai
cohere
wikipedia
pdf2image
html2text
ragas
tiktoken
transformers
torch
numpy
deepspeed
trl
peft
wandb
bitsandbytes
accelerate
tqdm
neural-compressor
onnx
pandas
scipy
